<a href="https://colab.research.google.com/github/Drinkler/Yield-Prediction/blob/main/yield_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://github.com/hajir-almahdi/Machine-Learning-Capstone-Project
# https://towardsdatascience.com/predicting-crops-yield-machine-learning-nanodegree-capstone-project-e6ec9349f69

In [2]:
# Imports
import numpy as np
import pandas as pd

In [9]:
# Define url to data
resource_folder = 'https://raw.githubusercontent.com/Drinkler/Yield-Prediction/main/res'

pesticides_url = '{}/pesticides.csv?token=AEEE4P77JZJA3CURKL46M5DAKKAF2'.format(resource_folder)
rainfall_url = '{}/rainfall.csv?token=AEEE4P2E3ZCWY3BZLMTFXFLAKKAJ6'.format(resource_folder)
temp_url = '{}/temp.csv?token=AEEE4P6TPZ5KSSRZTPVKH4DAKKAMU'.format(resource_folder)
yield_url = '{}/yield.csv?token=AEEE4P2SNUV42I6JENXL5ETAKKANS'.format(resource_folder)

In [14]:
# Load data
pesticides_data = pd.read_csv(pesticides_url, sep=',')
rainfall_data = pd.read_csv(rainfall_url, sep=',')
temp_data = pd.read_csv(temp_url, sep=',')
yield_data = pd.read_csv(yield_url, sep=',')

              Domain      Area  ...                          Unit    Value
0     Pesticides Use   Albania  ...  tonnes of active ingredients   121.00
1     Pesticides Use   Albania  ...  tonnes of active ingredients   121.00
2     Pesticides Use   Albania  ...  tonnes of active ingredients   121.00
3     Pesticides Use   Albania  ...  tonnes of active ingredients   121.00
4     Pesticides Use   Albania  ...  tonnes of active ingredients   201.00
...              ...       ...  ...                           ...      ...
4344  Pesticides Use  Zimbabwe  ...  tonnes of active ingredients  3375.53
4345  Pesticides Use  Zimbabwe  ...  tonnes of active ingredients  2550.07
4346  Pesticides Use  Zimbabwe  ...  tonnes of active ingredients  2185.07
4347  Pesticides Use  Zimbabwe  ...  tonnes of active ingredients  2185.07
4348  Pesticides Use  Zimbabwe  ...  tonnes of active ingredients  2185.07

[4349 rows x 7 columns]

In [ ]:
data.shape

In [ ]:
data.describe()

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data = data.rename(index=str, columns={"Value": "hg/ha_yield"})
data.head()